body, html {
    /* You might want to set a background color or image that matches the screenshot */
    background: #f7f7f7; /* Example background color */
    font-family: 'Arial', sans-serif;
  }
  
  header {
    /* To replicate the header from the screenshot, ensure proper styling */
    background: #fff; /* Adjust if the screenshot has a different header background */
    padding: 10px 0;
    text-align: center;
    border-bottom: 1px solid #eaeaea; /* If there is a border in the screenshot */
  }
  
  .login-main {
    width: 40%; /* Adjust width according to screenshot */
    margin: 0 auto; /* Center the login form */
    background: #fff; /* Assuming the main area is white */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Example shadow */
    border-radius: 8px; /* If the corners are rounded in the screenshot */
  }
  
  .social-login button, .login-button {
    width: 100%; /* 모든 버튼 너비를 100%로 동일하게 설정 */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 16px; /* 글씨 크기 조정 가능 */
    cursor: pointer;
  }
  
  .kakao-login {
    background-color: #FEE500; /* 카카오톡 버튼 색상 */
    color: #1A1A1A; /* 가독성을 위해 어두운 글씨 색상으로 변경 */
  }
  
  .login-button {
    background-color: #004080; /* 로그인 버튼 배경색 */
    color: white; /* 로그인 버튼 글씨색 */
  }
    
    .divider {
      margin: 20px 0;
    }
    
    .login-form label {
      display: block;
    }
    
    .login-form input[type="text"],
    .login-form input[type="password"] {
      width: 100%;
      padding: 10px;
      margin: 10px 0;
    }
    
    .remember-me {
      text-align: left;
    }
    
    .help-links {
      margin-top: 20px;
    }
    
    
    .company_info{
      text-align: center;
      font-weight: bold;
      color: rgb(240, 240, 240);
      font-size: 12px;
      padding: 2px;
    }
  
    .policy_menu {
      text-align: center;
      font-weight: bold;
      font-size: 12px;
      padding: 2px;
    }

    .help-links {
      text-align: center;
      font-weight: bold;
    }