body, h1, a {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: rgba(255, 255, 255, 0.9); /* 투명도를 조정하여 배경 이미지가 비치도록 설정 */
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    font-size: 24px;
    color: #000;
    text-decoration: none;
}

.logo img {
    height: 70px; /* 또는 로고에 맞는 적절한 크기 */
    width: auto; /* 이미지의 원본 비율을 유지합니다. 필요하면 특정 너비를 지정하세요. */
}

.nav-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end; /* 메뉴 항목을 우측으로 정렬 */
    align-items: center; /* 세로축 기준 중앙 정렬 */
    font-weight: bold;
}

.nav-menu li {
    padding: 0 10px; /* 메뉴 항목 간격 조정 */
}

/* 추가: 네비게이션 바 전체를 가로로 정렬합니다. */
.navbar {
    display: flex;
    justify-content: space-between; /* 로고와 네비게이션 메뉴를 양 끝으로 정렬 */
    align-items: center;
    width: 100%;
}

.nav-menu li a {
    color: #000;
    text-decoration: none;
    padding: 5px 10px;
    display: block;
}

.main-banner {
    background-image: url('image/golf-course.jpg'); /* 여기에 실제 배경 이미지 경로를 적용해야 합니다 */
    background-size: cover;
    background-position: center;
    height: 90vh; /* 뷰포트 높이의 90%를 차지하도록 설정 */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.main-banner h1 {
    color: white;
    font-size: 48px;
    line-height: 1.5;
}

.join-btn {
    background-color: #006837;
    color: white;
    padding: 12px 30px;
    text-decoration: none;
    margin-top: 30px;
    border-radius: 25px;
    font-weight: bold;
}

/* 기존 스타일에 추가 */
.membership-main {
    text-align: center;
    color: #333;
    padding: 20px;
}

.membership-banner {
    background-image: url('image/membership-banner.jpg'); /* 배경 이미지 경로를 수정하세요 */
    background-size: cover;
    background-position: center;
    height: 50vh; /* 배너의 높이를 설정하세요 */
}

.membership-title {
    padding-top: 100px; /* 제목의 위치를 조정하세요 */
    font-size: 48px; /* 제목의 크기를 설정하세요 */
    color: #fff; /* 제목의 색상을 설정하세요 */
}

/* 회원권 안내 페이지의 나머지 스타일을 여기에 추가합니다 */
.membership-content {
    margin-top: 40px; /* 적절한 마진을 설정하세요 */
}

.membership-content h1 {
    font-size: 48px; /* 회원권 안내 타이틀의 글씨체 크기 조정 */
    color: #333; /* 색상 조정 */
    margin-top: 20px; /* 적절한 상단 여백 추가 */
}

.membership-content h3 {
    font-size: 24px; /* 부제목의 글씨체 크기 조정 */
    color: #555; /* 색상 조정 */
    margin-bottom: 20px; /* 적절한 하단 여백 추가 */
}

/* 이미지 섹션 스타일 */
.golf-course-images {
    display: flex; /* 이미지들을 가로로 배열 */
    justify-content: center; /* 이미지들을 중앙 정렬 */
    gap: 20px; /* 이미지들 사이의 간격 */
    margin-top: 100px; /* 위쪽 여백을 증가 */
    margin-bottom: 100px; /* 아래쪽 여백을 증가 */
}

.golf-course-images img {
    width: calc(33.333% - 20px); /* 이미지 너비를 가로로 세 등분, 20px은 간격을 고려 */
    height: auto; /* 이미지의 높이를 자동으로 설정하여 비율을 유지 */
    object-fit: cover; /* 이미지가 셀을 가득 채우도록 설정 */
}

.membership-table-section {
    width: 100%; /* 필요한 경우 최대 너비를 설정할 수 있습니다 */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.membership-table-section h1 {
    text-align: left; /* 제목을 왼쪽으로 정렬 */
    padding-left: 20px; /* 왼쪽에 패딩을 추가하여 콘텐츠와 테두리 사이에 공간을 만듭니다. */
}

.membership-table {
    width: 80%; /* 표의 너비를 설정 */
    border-collapse: collapse; /* 표의 경계선을 겹쳐 하나로 보이게 설정 */
    table-layout: fixed; /* 열의 너비를 고정합니다 */
    margin-top: 20px; /* 표의 상단 여백 설정 */
    margin-bottom: 20px; /* 표의 하단 여백 설정 */
}

.membership-table th, .membership-table td {
    border: 1px solid #ddd; /* 표의 셀 경계선 스타일 설정 */
    padding: 10px; /* 표 셀 내부의 패딩 설정 */
    text-align: center; /* 텍스트를 왼쪽 정렬 */
    width: 25%; /* 각 열의 너비를 표의 너비의 25%로 설정 */
    font-weight: bold
}

.membership-table th {
    background-color: #0a0553; /* 헤더 셀의 배경색 설정 */
    color: #f4f4f4; /* 헤더 셀의 글자색 설정 */
    text-align: center; /* 텍스트를 가운데 정렬 */
    font-weight: bold
}

/* 추가된 표에 대한 선택적 스타일 */
.additional-table th, .additional-table td {
    text-align: left; /* 텍스트를 왼쪽으로 정렬 */
    padding: 10px; /* 적절한 패딩을 설정 */
    text-align: center;
    
}

/* 테이블 섹션의 제목 스타일을 변경합니다 */
.membership-table-section h1 {
    text-align: left; /* 왼쪽 정렬로 변경 */
    padding-left: 20px; /* 왼쪽 패딩 추가 */
    font-weight: bold;
}
.notice-section {
    background-color: #e0e0e0; /* Light gray background */
    padding: 20px;
    margin: 20px 0; /* Add some space before and after the section */
    text-align: left;
    font-weight: bold
}

.notice-section h2 {
    font-size: 24px; /* Increase the size if necessary */
    text-align: left;
    color: #333; /* Darker text for better readability */
    margin-bottom: 15px; /* Space after the title */
    padding-left: 120px; /* 왼쪽 패딩 추가 */
}
.notice-section h4 {
    font-size: 16px; /* Increase the size if necessary */
    text-align: left;
    color: #333; /* Darker text for better readability */
    margin-bottom: 15px; /* Space after the title */
    padding-left: 120px; /* 왼쪽 패딩 추가 */
}

.notice-section p, .notice-section li {
    color: #333; /* Dark text for better readability on gray background */
    text-align: left;
    padding-left: 120px; /* 왼쪽 패딩 추가 */
    line-height: 1.5; /* More readable line spacing */
}

.notice-section ul {
    list-style-type: none; /* Remove bullet points */
    padding: 0; /* Remove default padding */
    text-align: left;
    padding-left: 120px; /* 왼쪽 패딩 추가 */
}

.notice-section ul li {
    padding: 5px 0; /* Spacing between list items */
    text-align: left;
    
}

.inquiry-section {
    position: relative; /* 오버레이를 위한 포지셔닝 컨텍스트 */
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 100px 20px; /* 상단과 하단 패딩을 늘려 이미지가 더 크게 보이도록 합니다 */
    color: black;
    margin-top: 100px; /* 위쪽 여백을 증가 */
    margin-bottom: 100px; /* 아래쪽 여백을 증가 */
    font-weight: bold;
}

.inquiry-section::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5); /* 검은색 반투명 오버레이 */
    z-index: -1; /* 컨텐츠가 오버레이보다 위에 나타나도록 설정 */
}

.inquiry-button {
    background-color: transparent; /* 초기 배경색은 투명으로 설정 */
    color: black; /* 글자 색상을 검은색으로 설정 */
    border: 1px solid black; /* 테두리를 검은색으로 설정 */
    padding: 10px 30px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px; /* 버튼 모서리를 둥글게 */
    transition: background-color 0.3s, color 0.3s; /* 부드러운 색상 전환 효과를 위한 설정 */
    font-weight: bold;
}

.inquiry-button:hover {
    background-color: black; /* 호버 상태에서 배경 색상을 하얀색으로 */
    color: white; /* 호버 상태에서 글자 색상을 검은색으로 */
}

/* Feedback Header Image */
.feedback-header {
    background-size: cover;
    background-position: center;
    height: 250px; /* Adjust as necessary */
}

/* Notice Section */
.notice-section {
    padding: 20px;
}

.notice-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.notice-header h1 {
    text-align: center;
}

.search-bar input {
    padding: 5px;
}

.search-bar button {
    padding: 5px;
    background-color: white;
    border: none;
    cursor: pointer;
}

.notice-content table {
    width: 100%;
    border-collapse: collapse; /* 테두리 간격 없앰 */
    margin: 0 auto; /* 가로 중앙 정렬 */
}

.notice-content th, .notice-content td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
    
}


.register-container {
    max-width: 400px;
    margin: auto;
  }
  .registration-form {
    display: flex;
    flex-direction: column;
  }
  .form-field {
    margin-bottom: 20px;
  }
  .form-field label {
    display: block;
    margin-bottom: 5px;
  }
  .register-button {
    background-color: #00C73C;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
  }
  .register-button:hover {
    background-color: #00B42A;
  }